
.lista_produtos_complementar {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}
.titulo_complementar {
    margin: 0 0 40px 15px;
    width: 98%;
    text-align: left;
    padding: 10px 20px 4px 10px;
    border-bottom: #aaaaaa solid 1px;
}
.titulo_complementar h5 {
    margin-bottom: 20px;
}
