.produto {
    width: 25%;
    height: 100%;
    padding: 0 !important;
}
.produto img {
    width: 100%;
}
.container_info {
    padding: 20px;
}
.container_botoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 10px 0;
    width: 100%;
}
.container_botoes button {
    width: 80%;
}
.container_botoes a {
    width: 100%;
}
.container_info_botoes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.preco {
    text-decoration: line-through;
}
.container_preco {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.d-block, .d-none {
    border: none;
    background-color: transparent;
}